.login-card{
    height: 500px;
    width: 400px;
    margin: 3% auto;
    display: flex;
   .close-button{
        cursor: pointer;
   }
.login-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}
    .login-form {
        display: flex;
        flex-direction: column;
    }

    .full-width {
        width: 100%;
    }

    .login-action{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .create-button {
            background-color: var(--mat-sys-color-tertiary);
            color: var(--mat-sys-color-on-tertiary);
        }
    }
}

.separator {
    width: 300px;
    margin: 24px auto;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);

    &::before, &::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    &:not(:empty)::before {
        margin-right: .5em;
    }

    &:not(:empty)::after {
        margin-left: .5em;
    }
}

    .google-signin-button {
        width: 80%;
        margin: 0px auto;
        ::ng-deep.mdc-button__label{
            display: flex;
            gap: 10px;
        }
    
}